* {

    text-align: center;
    width:100%;
    
}

h1 {
    font-family: "Monaco", monospace;
    color: #91876d;
}

body {
    background-color: #2a2b2e;
    font-family: "Monaco", monospace;
    color: #91876d;
}